<app-nav></app-nav>

<section class="cont-sesion">
 

  <form [formGroup]="formulario" (ngSubmit)="login()" >
    <div class="login-container">
      <h2>Iniciar Sesión</h2>

      <div class="input-group">
        <label for="usuario">Nombre usuario</label>
        <input type="text" id="usuario" formControlName="usuario" placeholder="Ingrese su usuario" required>
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="contrasena" placeholder="Ingrese su contraseña" required>
      </div>

      <button type="submit" >Ingresar</button>
    </div>

    <div class="img-costado">
      <img src="img/descarga.jpg" alt="Login Image">
    </div>
  </form>
</section>

