<footer id="footer">

  <div class="img-footer">
    <img src="img/Teatro.png" alt="Logo boletería">
  </div>

  <div class="texto-footer">
    <h4>Navegación rápida</h4>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#cont-entrada">Cómo sacar entradas</a></li>
      <li><a (click)="irEventos()">Eventos</a></li>
      <li><a (click)="irReservas()">Ver reservas</a></li>
    </ul>
  </div>

  <div class="texto-footer">
    <h4>Redes</h4>
    <ul>
      <li><a target="_blank" href="https://www.instagram.com/imasayago/">Instagram</a></li>
      <li><a target="_blank" href="https://www.facebook.com/imanol.sayago">Facebook</a></li>
      <li><a target="_blank" href="https://x.com/ImaSayago">Twitter</a></li>
    </ul>
  </div>

</footer>