<app-nav></app-nav>

<header class="header">

    <div class="txt-header">
        <h1>Teatro Gran Espectáculo</h1>
        <p>Viví el teatro como nunca antes. ¡No te pierdas ninguna función!</p>
        <a (click)="irEventos()" class="btn-header">Ver eventos</a>
    </div>

    <a href="#cont-entrada">
        <img class="flecha" src="img/flech.png" alt="">
    </a>

</header>

<section id="cont-entrada">


     <div class="cont-titulo">
    <h3 class="titulo-entrada">¿Cómo adquirir tu entrada?</h3>
  </div>

<div class="contenedor-general-entradas">


        

  <div class="cont-entrada-txt">

    <p class="subtitulo-entrada">¡Es muy fácil! Seguí estos pasos y vas a tener tu entrada en menos de un minuto:</p>

    <ul>
      <li>
        <div class="txt-info-entrada">
            <p>Hacé clic en "Eventos"</p>
            <img  src="img/mano.png" alt="">
        </div>
       </li>

      <li>
        
        <div class="txt-info-entrada">
            <p>Elegí la función que más te guste y presioná "Hacer reserva"</p>
             <img src="img/mano.png" alt="">
        </div>
        
    
    </li>
      <li>
        
        <div class="txt-info-entrada">
            <p>Completá el formulario con tus datos</p>
             <img src="img/formulario.png" alt="">
        </div>
        
    
    </li>
      <li>
        
         <div class="txt-info-entrada">
            <p>Hacé clic en "Reservar"</p>
             <img src="img/reserva.png" alt="">
        </div>
       
    
    </li>
    </ul>

    <p class="subtitulo-entrada">¡Y listo! Ya tenés tu entrada reservada 🎟️</p>

  </div>
  
</div>

   <a href="#info-general">
        <img class="flecha" src="img/flech.png" alt="">
    </a>

</section>


<section id="info-general">

    <div class="cont-info">

        <div class="cont-txt">
    <h3>Sobre nosotros</h3>
    <p>
      El Teatro Gran Espectáculo abrió sus puertas el 16 de mayo de 2025, y desde entonces se convirtió en un punto de referencia cultural para la comunidad. Nos destacamos por ofrecer una amplia variedad de funciones que van desde obras teatrales clásicas hasta espectáculos modernos e innovadores.<br><br>
      Nuestro objetivo es acercar el arte a todas las personas, generando experiencias únicas y memorables. Gracias al apoyo del público, seguimos creciendo y llevando adelante una propuesta cultural de calidad en cada función.
    </p>
</div>

<div class="cont-img">
<img class="img" src="img/header.jpg" alt="">
</div>
    </div>


</section>

<app-footer></app-footer>