 <div class="carta">

                 <div class="txt-titulo">
                    <p>{{evento1.nombre}}</p>
                 </div>

                <div class="info-carta">
                    <p>Fecha: {{evento1.fechaHora| date:'dd/MM/yyyy'}}</p>
                 <p>Horario: {{ evento1.fechaHora | date:' HH:mm' }} hs</p>
                    <p>Entradas disponibles: {{evento1.capacidadDisponible}}</p>
                    <p>Capacidad total: {{evento1.capacidadTotal}}</p>
                    <p>Tipo evento: {{evento1.tipoEvento}}</p>
                </div>

                @if(boton() == true)
                {
                  <a class="btn-carta" [routerLink]="['/reservas/',evento1.id]" >Hacer reserva</a>
                }

                @else {
                  <a class="btn-carta-cancelar" (click)="cancelarReserva()" >Cancelar reserva</a>
                }
            
            </div>
